.content {
  grid-area: c;
  background-color: blue;
  color: #fff;
}

.content img {
  width: 100%;
}

.posts {
	text-align: center;
/*	width: 100%;*/
}

.item {
	color: red;
	margin-bottom: 20px;
	font-size: 20px;
}