.nav {
  grid-area: n;
  background-color: brown;
  padding: 20px;
}

.nav > div {
    margin-bottom: 10px;
}

.nav > div:last-child {
  margin-top: 30px;
}

/*.nav a {
  color: white;
  text-decoration: none;

}*/

.item:hover {
  text-decoration: underline;
  font-weight: 500;
}

.item {
	color: white;
	text-decoration: none;
}

.active {
	color: gold;
}