/*.content {
  grid-area: c;
  background-color: blue;
  color: #fff;
}*/

.content img {
  width: 100%;
}

.descriptionBlock {
	padding: 10px;
}

.fullname {
	text-transform: uppercase;
	font-size: 22px;
}

.status_content {
	font-style: italic;
	font-size: 18px;
	color: #ccc;
	letter-spacing: 1px;
}

.userPhoto {
	max-width: 200px;
}

.fullInfo {
	font-size: 18px;
}

.contactsList {
	padding-left: 20px;
	font-weight: normal;
	font-size: 16px;
}


.formSummaryError {
	border: 1px solid red;
	padding: 5px;
	color: red;
	max-width: 30%;
}