.dialogs {
	font-size: 18px;
	display: grid;
	grid-template-columns: 5fr 3fr;
	align-items: center;
	justify-content: space-around;
	padding: 50px 20px;
}

.dialogsItems a {
	padding: 10px;
	color: #fff;
}

.dialog_item {

	text-decoration: none;	
}
.dialog_item img {
	margin-right: 10px;
}

.member {
	display: flex;
	align-items: center;
}

/*.dialog {
	display: flex;
}*/

.dialog .send_text {
	display: none;
}

.dialog .active .send_text  {
	display: block;
}

.dialog .active .send_text textarea {
	color: black;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: -10px;
}

.dialog .active {
	font-weight: bold;
	color: gold;
} 

.messages {
	
	color: #000;
}

.message {
	padding: 18px;
}

.dial_ava {
	width: 40px;
	border-radius: 50%;
	background: transparent;
}